:root {
  --color-white: #fff;
  --grey-light: #f7f7f7;
  --primary-color: #5e5d5d;
  --grey-dark: #777;
  --orange: #e67e22;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
}
body {
  font-family: Nunito, sans-serif;
  color: var(--primary-color);
  background-color: rgba(237, 236, 232);
  font-weight: 400;
  line-height: 1.7;
}

.nav-list-booking {
  border-bottom: 1px solid var(--color-white);
}

.header-container {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../booking-img/hero-2.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.btn2,
.btn2:link,
.btn2:visited {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-white);
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  border: none;
  border-radius: 10rem;
  padding: 1.4rem 3.5rem;
  background-color: var(--orange);
  letter-spacing: 1.2px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn2:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

/****************************************/
/*          BOOKING SECTION             */
/* ************************************* */

#booking {
  position: absolute;
  top: 20%;
  left: 25%;
  right: 25%;
  
}

.booking-reservation {
  font-size: 3.2rem;
  font-weight: 600;
  color: #e2dfdfdc;
  letter-spacing: 1.5px;
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booking-reservation span {
  width: 10rem;
  border-bottom: 3px solid var(--orange);
}

.book-form {
  max-width: 100%;
  height: 65vh;
  margin: 0 auto;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.book-form h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

label,
input[class*='form-'],
select,
.num-guest {
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.5rem;
}
#guest-option {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/****************************************/
/*              CONTACT-OPENING HOURS    */
/* ************************************* */

.contact-opening {
  max-width: 120rem;
  min-height: 50rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding: 5rem;
  text-align: center;
}

.contact-opening > *,
.contact-opening p {
  background-color: var(--color-white);
  font-size: 1.4rem;
  border-radius: 5px;
}

.opening {
  grid-column: 1/4;
  grid-row: 1/3;
}
.location-book {
  grid-column: 5/8;
  grid-row: 1/3;
}
.contact-info {
  grid-column: 9/-1;
  grid-row: 1/3;
}
.opening,
.location-book,
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.01);
}

.icons {
  width: 3rem;
  height: 8rem;
  fill: var(--orange);
}
.contact-opening h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
ul h4 {
  margin: 1.5rem 0 0.5rem 0;
}
ul li,
a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
/****************************************/
/*              MAP                      */
/* ************************************* */
.map {
  margin-top: 2rem;
}
iframe {
  padding: 0 1.5rem;
  width: 100%;
  height: 60vh;
}

/****************************************/
/*            QUERIES                        */
/* ************************************* */


/* tablets- max-960px */
@media screen and (max-width:60em) {  
  #booking{
    top: 23%;
  }
  .booking-reservation {
    font-size: 3rem;
  }
  .book-form h2 {
    font-size: 1.8rem;
  }
  .book-form{
    height: 62vh;
  }
  .contact-opening {
    min-height: 45rem;
    padding: 6rem 1.5rem;
  }
  .icons {
    height: 5rem;
  }
  iframe{
    height: 50vh;
  }
}


/* telefoner */
@media screen and (max-width:767px) {
  .header-container{
    height: 90vh;
  }
  
  #booking {
    top: 30%;
    left: 0%;
    right: 0%;
    margin-bottom: 0;
  }
  .booking-reservation{
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .book-form {
    border-radius:0;
    width: 100%;
    height: 62vh;
    padding: 1rem 0;
    gap: 1.2rem;
  }
  .book-form h2{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .contact-opening{
    width: 100%;
    min-height: 45rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 0 2rem 0;
  }

  .contact-opening>*{
    font-size: 1.6rem;
    border-radius: 0;
    padding: 3rem 0; 
  }
  .btn2 {
    padding: 1.3rem 2.2rem;
  }
  label,
  input[class*='form-'],
  select,
  .num-guest,.contact-opening p{
    font-size: 1.4rem;
  }
}

