header{
    height:70px;
    width:100%;
    text-align: center;
    padding-top:10px;
}

#main-content{
    height:600px;
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:auto;
}

.gallery-section{
    grid-column:1/12;
}