/*General*/
.header-container{
    z-index:1;
    background-image:none;
    height:0;
}

#main-content img{
    transition: transform 0.5s;
}

#main-content img:hover{
    transform:scale(1.05);
    z-index:-1;
}

.nav-list-gallery {
  border-bottom: 1px solid var(--color-white);
} 

#main-content{
    padding:20vh 0;
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:auto;
    gap:6rem;
}

.gallery-section{
    grid-column:2/12;
}

h1{
    font-size:4rem;
}

p{
    font-weight:400;
    font-size:1.8rem;
}

/*Specific*/

#section-1{
    grid-row:1/2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:6rem;
}

#section-1 img{
    width:calc(60% - 3rem);
}

#section-1 div{
    width:calc(40% - 3rem);
    
}

#section-2{
    grid-row:2/3;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:6rem;
}

.hover-effect{
    position:relative;
}

.hover-effect div{
    position:absolute;
    bottom:10px;
    left:15px;
    background:rgba(255, 255, 255, 0.822);
    border-radius:1rem;
    display:none;
}

.hover-effect div p{
    padding:1rem;
}

.hover-effect:hover div{
    display:block;
    
}

.hover-effect a{
    color:black;
}

.hover-effect a:hover{
    font-weight:inherit;
    color:gray;
    
}
#section3-right{
    grid-column:5/12;
    grid-row:3/5;
}

.section3-left{
    grid-column:2/5;
}

#left-top{
    grid-row:3/4;
}

#left-bottom{
    grid-row:4/5;
}

main img{
    width:100%;
}

#section-5{
    display:flex;
    gap:6rem;
}

#section-5 img{
    width:calc(50% - 3rem);
}


/*Tablets*/
@media only screen and (max-width:960px) {
    h1{
        font-size:3rem;
    }

    p{
        font-size:1.8rem;
    }

    #main-content{
        padding-bottom:6rem;
    }

    #main-content,
    #section-1,
    #section-2,
    #section-5{
        gap:2rem;
    }

    #section-1 img{
        width:calc(55% - 1rem);
    }
    #section-1 div{
        width:calc(45% - 1rem);
    }
    
    #section-5 img{
        width:calc(50% - 1rem);
    }

    .hover-effect:hover div{
        display:none;
        
    }
    
    #section3-right{
        grid-column:2/12;
        grid-row:3/4;
        
    }

    #left-top{
        grid-column:2/7;
        grid-row:4/5;
    }

    #left-bottom{
        grid-column:7/12;
        grid-row:4/5;
    }

}

/*Phone*/
@media only screen and (max-width:768px){
    #section-1,
    #section-5{
        flex-direction:column;
    }

    #section-1 img,
    #section-1 div,
    #section-5 img{
        width:100%;
    }

    #section-1 div{
        order:-1;
        margin-bottom:2rem;
    }

    #section-2{
        flex-wrap:wrap;
    }

    #finest_grappa,
    #wines{
        width:calc(50% - 1rem);
    }
    
    #finest_grappa{
        order:1;
    }

    #wines{
        order:2;
    }
    
    #drink{
        order:3;
    }
}