/* body{
    background-image: url("../img/Background-Image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-container{
min-height: 800px;
padding-top: 100px;
grid-template-columns: repeat(12, 1fr);
display: grid;
}
.article1{
    grid-column: 2 / 6;
    border: 1px solid white;
}
.article2{
    grid-column: 8/11;
    border: 1px solid white;
} */
